:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.links {
  display: flex;
  list-style-type: none; /* Removes bullets */
  padding: 0; /* Optional: removes default padding */
  margin: 0; /* Optional: removes default margin */
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  background-color: red;
}

/* Headings and fonts */
h1, h2 {
  margin-top: 1.3rem;
  margin-bottom: 0rem;
}

h1 {
  font-size: 2.5rem;
  
}

:root {
  font-size: 18px;
}

/* Generic styling for page content*/
.main {
  position:absolute;
  left: 10vw;
  right: 10vw;
  display: flex;
  margin: 1rem auto;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1000px;
}

/* Fixed text left of homepage */
#profile-fixed {
  position: sticky;
  width: 60vw;
  height: 10px;
  padding: 2rem 0;
  top: 10vw;
  max-width: 400px;
  flex: 2;
}

/* Controls for body of page */
.body {
  position: relative;
  max-width: 600px;
  flex: 3;
}

/* About section image styling */
#tt-pic {
  width: 20rem;
  height: 20rem;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  object-position: 0 17%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  transition: 0.2s;
}

#tt-pic:hover {
  opacity: 1;
}

/* About section styling */

#about {
  display: flex;
  flex-direction: column;
}

/* Project section grid */
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
      "proj-label proj-desc"
      "proj-ss proj-ss";
  gap: 0 1.5rem;
}

.project-label {
  grid-area: proj-label;
  /* margin: auto; */
}

.project-desc {
  grid-area: proj-desc;
}

.proj-ss-cont {
  grid-area: proj-ss;
}

.proj-ss {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  margin-bottom: 1rem;
}

/* Project section images */

.proj-ss-cont img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  transition: 0.2s;
  border: 3px solid transparent;
}

.proj-ss-cont:hover img {
  opacity: 1;
  border: 3px solid #535bf2;
}

/* Navbar */
nav {
  display: flex;

}

.navbar-name {
  display: flex;
  flex: 1.2;
  justify-content: center;
  background-color: green;
}

